:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #F15A24;
  --yellow-sun: #FCEE21;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
}
html {
  height: 100%;
}
body {
  margin: 0;
  /* min-height: 100%; */
  background-color: var(--pale-green);
}
footer {
  text-align: center;
  padding: 3px 3px 0px 3px;
  /* padding-top: 3px; */
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  /* padding-bottom: none; */
  background-color: var(--slate);
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  /* color: #fff; */
}
